@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

:root {

    --bg-primario: #252525;
    --bg-gradiente: linear-gradient(90deg, rgba(255, 161, 0, 1) 0%, rgba(251, 16, 61, 1) 100%);
    --pizza-org: #FFA400;
    --pizza-red: #FC2933;
    --white: #fff;


    /* 
    
        GRADIENTE 
    
            #FFA100;
            #FB103D;
            
    */



}

h1 {

    font-size: 66px;
    font-family: Montserrat;
    font-weight: 700;
    color: var(--white);
}

h2 {

    font-size: 22px;
    font-family: Montserrat;
    font-weight: 500;
    color: var(--white);
}

h3 {

    font-size: 15px;
    font-family: Montserrat;
    font-weight: 500;
    color: var(--white);
}

a {
    color: var(--white);
}

body {

    background: var(--bg-primario);
    font-family: Montserrat;
    color: var(--white);
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 41px 65px;
    width: 100%;
}


header nav ul {

    display: flex;
    align-items: center;
    gap: 25px;
}

header nav ul li a {

    font-size: 15px;
    color: var(--white);
    font-weight: 400;

}

header nav ul li:first-child {

    margin-right: 30px;
}



header nav ul li a i {

    color: var(--pizza-org);
    font-size: 25px;

}

header nav ul li a i:first-child {

    margin-right: 10px;
}

header img {

    width: 79px;
    height: 79px;
}

/* MAIN */

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HERO */

#hero {

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1230px;


}

#hero .hero-txt {

    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 1230px;

}

#hero .hero-txt h1 {

    width: 600px;
}

#hero .hero-txt p {

    font-size: 21px;
    font-weight: 400;
}

#hero .hero-txt a {
    width: 122px;
    font-size: 14px;
    font-weight: 700;
    background: rgb(255, 161, 0);
    background: linear-gradient(90deg, rgba(255, 161, 0, 1) 0%, rgba(251, 16, 61, 1) 100%);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}

#hero .hero-img {

    display: flex;
}

#hero .hero-img .img-pizza-1 {

    position: absolute;
    width: 265px;
    height: 265px;
    left: 1046px;
    top: 208px;
    z-index: 1;
}

#hero .hero-img .img-pizza-2 {

    position: absolute;
    width: 392px;
    height: 392px;
    left: 1172px;
    top: 94px;
    z-index: 1;
}

/* RECOMENDACIONES */

#recomendaciones {

    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    max-width: 1230px;

}

#recomendaciones .section-title {

    text-align: left;
    width: 1230px;

}


#recomendaciones .recomendaciones-cards {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 38px;


}

#recomendaciones .recomendaciones-cards .recomendacion-card {

    background: var(--bg-primario);
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
    display: flex;
    gap: 10px;
    padding: 20px 15px;
    align-items: center;
}

#recomendaciones .recomendaciones-cards .recomendacion-card .card-info {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#recomendaciones .recomendaciones-cards .recomendacion-card a {

    background: var(--bg-gradiente);
    padding: 5px 10px;
    border-radius: 10px;


}

#recomendaciones .recomendaciones-cards .recomendacion-card p {

    font-size: 14px;
    font-weight: 400;
    opacity: 0.3;
}

#recomendaciones .recomendaciones-cards .recomendacion-card span {

    background: var(--bg-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 19px;
    font-weight: 700;

}

/* CATEGORIAS */

#categorias {

    max-width: 1230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 70px;
    gap: 30px;

}

#categorias .categorias-cards {

    display: flex;
    flex-direction: row;
    gap: 36px;


}

#categorias .categoria {

    background: #252525;
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
    width: 150px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.little-line {

    width: 24px;
    height: 4px;
    background: var(--bg-gradiente);
    border-radius: 5px;
}

/* LOS MAS POPULARES */

#populares {

    max-width: 1230px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 30px;
}

#populares .popular-cards {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}

#populares .popular-cards .popular-card {

    background: var(--bg-primario);
    box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
    border-radius: 15px;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#populares .popular-cards .popular-card img {

    border-radius: 16px
}

#populares .popular-cards .popular-card h3 {

    font-weight: 500;
    font-size: 15px;

}

#populares .popular-cards .popular-card p {

    font-weight: 400;
    font-size: 14px;
    opacity: 0.3;

}

#populares .popular-cards .popular-card .bottom-card {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#populares .popular-cards .popular-card .bottom-card span {

    background: var(--bg-gradiente);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 19px;
    font-weight: 700;

}

#populares .popular-cards .popular-card .bottom-card a {

    background: var(--bg-gradiente);
    padding: 5px 10px;
    border-radius: 10px;

}

/* FOOTER */

footer {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

footer ul {

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

footer p {

    margin-bottom: 20px;
}